.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonStart, .placeForButton {
    margin: 10px;
    padding: 10px;
}

.placeForButton{
    height: 50px;
}

.buttonStart {
    box-shadow: 2px -2px 2px black;
}

