.wrapper {
    /*width: 100vw;*/
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.circle {
    width: 180px;
    height: 150px;
    border: black 2px solid;
    border-radius: 50%;
    margin: 10px;
}